/* ====== MOBILE ===== */
body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* background image */
  background-color: ghostwhite;
  background-image: url(images/key.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 100px 75px;
}

/* header and form */
h1 {
  margin-top: 40px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #3e9ab2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* gradient code inspired by W3S */
}
p {
  display: inline-block;
}
input {
  width: 250px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid gold;
  font-size: 15px;
  text-transform: uppercase;
}
::placeholder {
  opacity: 0.25;
}
#gif-me {
  background-color: #3e9ab2;
  border:none;
  border-radius: 2px;
  color: white;
  box-shadow: 2px 2px 4px #9cb4ba;
  padding: 12px 20px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  cursor: grab;
  /* animation */
}
#gif-me:hover {
  background-color: #9cb4ba;
  text-transform: uppercase;
}
#gif-me:active {
  outline: none;
}
#gif-me:focus {
  outline: none;
}
/* body container */
.container {
  margin: 0 auto;
  width: 80%;
  height: 800px;
  border: 2px solid #3e9ab2;
  border-radius: 5px;
  margin: 50px auto;
  /* width: 70%;
  height: 750px; */
  background-color: #f0f1f2;
}
/* giphy container */
.giphy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  margin: 40px auto;
}
img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  width: 80%;
}
.next-button {
  background-color: #9cb4ba;
  border:none;
  border-radius: 2px;
  color: white;
  box-shadow: 2px 2px 4px #9cb4ba;
  padding: 8px 30px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: grab;
}
.next-button:hover {
  background-color: #3e9ab2;
}
.next-button:focus {
  outline: none;
}
/* MODAL */
/* modal styling based on Jerrica's css */
.modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: flex;
  justify-content: center;

}
#modal-textbox {
	background: rgb(197,179,88);
  color: white;
	padding: 3%;
	height: 260px;
	width: 60%;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 2px 4px 2px rgba(0,0,0,0.2);
	line-height: 125%;
}
#modal-textbox h3 {
  padding: 5px;
  color: black;
  text-transform: uppercase;
}
#close {
	padding: 8px 10px;
  width: 10px;
  margin: 0;
	background-color: #9cb4ba;
	text-decoration: none;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
  box-shadow: 1px 1px 4px gray;
  /* positioning */
  position: fixed;
  top: 150px;
  right: 17%;
}
#take-quiz-button {
  text-decoration: none;
  color: black;
  background-color: #9cb4ba;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px gray;
  cursor: grab;
}
#option-1 {
  text-decoration: none;
  color: black;
  background-color: #9cb4ba;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px gray;
  cursor: grab;
  margin: 5px;
}

#option-2 {
  text-decoration: none;
  color: black;
  background-color: #9cb4ba;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px gray;
  cursor: grab;
  margin: 5px;
}
/* FOOTER */
footer {
  font-size: 12px;
  background: ghostwhite;
  border: 1px solid gold;
  width: 30%;
  margin: 15px auto;
  padding: 5px;
}
hr {
  width: 50px;
}

/* ====== DESKTOP ===== */

@media (min-width: 1900px) {
  body {
    background-color: ghostwhite;
  }
 }
